@import 'bootstrap/dist/css/bootstrap.min.css';

.getStartedBackgroud {
    background: linear-gradient(90deg, rgba(49, 130,206,0.5), rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01));
}
.grey-background{
    background-color:  #F7FAFC;
}
.brand-height{
    height: 7em;
}
label{
    margin-bottom: 1em;
}
.form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form input , .form select, .form textarea {
    background-color: #edf2f7;
}

.container{
    max-width: 1600px !important;
}

/* @media (max-width: 750px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 475px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
} */